.contacto-Modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 20% 5% 10% 1fr;
    justify-content: center;
    align-items: center;
    background-image: url(../statics/FondosMagnoliaMobile/Contacto_M.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    gap: 10px;

}

/* Esta es la cruz que va */
.contacto-Modal button {
    justify-self: flex-end;
    background-image: url(../statics/Iconos/CruzNegra.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    aspect-ratio: 2/3;
    height: 90%;
    margin-right: 16px;
    margin-top: 16px;
    border: none;
    padding: 0px 5px;
}

.contacto-Modal p {
    text-align: left;
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    width: 22ch;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 26px;
}

.contacto-Modal p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.contacto-Modal-h1-br {
    text-align: left;
    font-size: clamp(2rem, 2vw, 1.5rem);
    width: 100%;
    height: auto;
    padding-left: 20px;
    font-weight: bold;
}

.contacto-Modal-h1-sin-br {
    display: none;
}


.contacto-Modal h2 {
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
    width: 100%;
    height: auto;
}


.iconos-contacto-redes-modal {
    padding-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .contacto-Modal {
        background-image: url(../statics/FondosMagnoliaPc/Contacto_D.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contacto-Modal-h1-br {
        display: none;
    }

    .contacto-Modal-h1-sin-br {
        display: flex;
        text-align: left;
        font-size: clamp(2rem, 2vw, 1.5rem);
        width: 100%;
        height: auto;
        padding-left: 50px;
        font-weight: bold;
    }

    .contacto-Modal p {
        padding-left: 50px;
        justify-self: flex-start;
        padding-bottom: 10px;
        width: 100%;
        font-size: clamp(1.2rem, 2vw, 1.5rem);
    }

    .contacto-Modal p a {
        text-decoration: none;
    }



}

@media screen and (min-width: 1024px) {
    .contacto-Modal {
        background-image: url(../statics/FondosMagnoliaPc/Contacto_D.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contacto-Modal-h1-br {
        display: none;
    }

    .contacto-Modal-h1-sin-br {
        display: flex;
        text-align: left;
        font-size: clamp(2rem, 2vw, 1.5rem);
        width: 100%;
        height: auto;
        padding-left: 50px;
        font-weight: bold;
    }

    .contacto-Modal p {
        padding-left: 50px;
        justify-self: flex-start;
        padding-bottom: 0px;
        width: 100%;
        font-size: clamp(1.2rem, 2vw, 1.5rem);
    }
}