.productora {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #b0a4d6;
    border-radius: 15px;
}

.parentesis-productora img {
    width: 100%;
    height: 100%;
    padding: 4px;
    object-fit: cover;
}

.productora h1 {
    position: absolute;
    font-size: medium;
    color: rgb(0, 0, 0);
    text-align: center;
    z-index: 1;
    padding: 10px 10px 15px 10px;
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .parentesis-productora img {
        padding: 12px;
    }

}


@media screen and (width >768px) {
    .productora {
        padding: 10px;
    }

    .productora h1 {
        font-size: clamp(1rem, 2.05vw, 1.5rem);
    }
}