.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../statics/Untitled-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75%;
    width: 100%;
    border-radius: 7px;
}

.redes button {
    background-color: #f1f1f1;
    color: #000000;
    font-size: clamp(0.9rem, 2vw, 2rem);
    border: 1px solid #f1f1f1;
    width: fit-content;
    border-radius: 20px;
    height: fit-content;
    padding: 3px 10px;
}

@media screen and (width >425px) {
    .redes {
        border-radius: 20px;

    }

    .redes button {
        font-size: clamp(0.9rem, 2.5vw, 2.5rem);
        padding: 5px 20px;
        border-radius: 25px;
    }
}

@media screen and (width >1024px) {
    .redes {
        height: 100%;
    }
}