.redes-Modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 30% 1fr;
    justify-content: center;
    align-items: center;
    background-image: url(../statics/FondosMagnoliaMobile/RedesSociales.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    border-radius: 15px;
    gap: 10px;
    padding-bottom: 10%;
}

.redes-Modal button {
    justify-self: flex-end;
    background-image: url(../statics/Iconos/CruzBlanca.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    aspect-ratio: 2/3;
    height: 100%;
    margin-right: 16px;
    margin-top: 23px;
    border: none;
    padding: 0px 5px;
}

.redes-Modal h1 {
    text-align: left;
    font-size: clamp(2rem, 2vw, 1.5rem);
    width: 9ch;
    height: auto;
    color: white;
    padding-left: 25px;
}

.redes-Modal p {
    align-self: flex-start;
    text-align: left;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    width: 22ch;
    color: white;
    margin: 0;
    padding-left: 25px;
}