.redes-Modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 30% 1fr;
    justify-content: center;
    align-items: center;
    background-image: url(../statics/FondosMagnoliaMobile/RedesSociales.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    border-radius: 15px;
    gap: 10px;
    padding-bottom: 10%;
}

.redes-Modal button {
    justify-self: flex-end;
    background-image: url(../statics/Iconos/CruzBlanca.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    aspect-ratio: 2/3;
    height: 100%;
    margin-right: 16px;
    margin-top: 23px;
    border: none;
    padding: 0px 5px;
}

.redes-Modal h1 {
    text-align: left;
    font-size: clamp(2rem, 2vw, 1.5rem);
    width: 9ch;
    height: auto;
    color: white;
    padding-left: 25px;
}

.redes-Modal p {
    align-self: flex-start;
    text-align: left;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    width: 22ch;
    color: white;
    margin: 0;
    padding-left: 25px;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .redes-Modal h1 {
        width: 15ch;
    }

    .redes-Modal p {
        width: 30ch;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .redes-Modal {
        background-image: url(../statics/FondosMagnoliaMobile/RedesSociales.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 30px;
        gap: 0;
        padding: 20px;
    }

    .redes-Modal h1 {
        width: 25ch;
        padding-left: 12%;
    }

    .redes-Modal p {
        width: 40ch;
        padding-left: 12%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .redes-Modal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 20% 20% 50%;
        border-radius: 30px;
        padding: 20px 10px;
        gap: 0;
        overflow: hidden;
        justify-content: flex-start;
    }

    .redes-Modal h1 {
        width: 25ch;
        padding-left: 15%;
        font-size: 2.5rem
    }

    .redes-Modal p {
        width: 40ch;
        padding-left: 15%;
        margin-bottom: 10px;
    }


    .redes-Modal:last-child img {
        width: 50px;
        height: 50px;
    }

}