.somos-magnolia-modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    justify-content: center;
    align-items: center;
    background-image: url(../statics/FondosMagnoliaMobile/SomosMagnolia_M.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    border-radius: 15px;
    gap: 10px;
}

.somos-magnolia-modal button {
    justify-self: flex-end;
    background-image: url(../statics/Iconos/CruzNegra.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    aspect-ratio: 2/3;
    height: 100%;
    margin-right: 10px;
    margin-top: 10px;
    border: none;
    padding: 0px 5px;
}

.somos-magnolia-modal p {
    text-align: left;
    font-size: clamp(0.95rem, 2vw, 1.5rem);
    width: 24ch;
    margin: 0;
    margin: 24px 25px 40px 28px;
}