.magnolia {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 5px;

}

.magnolia h1 {
    text-align: center;
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    height: auto;
}

.parentesis-somos {
    width: clamp(50px, 40%, 200px);
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 80%;
}