.magnolia {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    gap: 0 10px;
    background-color: aliceblue;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 10px;
    align-content: center;
    justify-content: center;
    grid-template-areas:
        "magnolia magnolia"
        "parentesis-somos parentesis-somos";
    align-items: center;
    justify-items: stretch;

}

.magnolia h1 {
    text-align: center;
    font-size: 100%;
    width: 100%;
    height: auto;
}

.parentesis-somos {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 80%;
}

@media screen and (width >425px) {
    /* .magnolia {
        display: flex;
        flex-direction: row;
        background-color: aliceblue;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        gap: 10px;
    } */

    .magnolia h1 {
        text-align: center;
        font-size: clamp(0.9rem, 2.6vw, 2rem);
        width: 100%;
        height: auto;
    }

    .parentesis-somos {
        width: 85%;
    }
}