.trabajo {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 1fr;
    justify-content: space-around;
    background-color: #fcbf02;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    gap: 5px;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.trabajo h1 {
    text-align: left;
    font-size: clamp(0.95rem, 2vw, 4rem);
    height: auto;
}

.cruz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.cruz img {
    width: clamp(20px, 40%, 80px);
    height: auto;
    object-fit: cover;
}

.lineas {
    width: 100%;
    height: 100%;
    /* padding-right: 10px; */
}

.lineas img {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .trabajo h1 {
        font-size: clamp(1.2rem, 1.3rem, 4rem);
        text-align: right;
    }

    .trabajo .cruz {
        justify-self: self-end;
    }

    .cruz img {
        width: clamp(30px, 20px, 80px);

    }
}


@media screen and (width >1024px) {
    .trabajo {
        grid-template-columns: 10% 1fr 1fr;
        justify-items: center;
        padding: 20px 0px 20px 20px;

    }

    .trabajo .cruz {
        justify-self: self-start;
    }

    .cruz img {
        width: clamp(30px, 40px, 80px);

    }

    .trabajo h1 {
        font-size: clamp(1.2rem, 3rem, 2.1rem);
        justify-self: self-start;
        padding-left: 30px;
    }

    .lineas img {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

}